html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee;
}
[v-cloak] {
  display: none;
}
.main {
  width: 125px;
  margin: 10px auto;
}
button {
  display: block;
  width: 100%;
  color: #fff;
  background-color: #39f;
  border: 0;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
button:active {
  transform: translate3d(1px, 1px, 0);
}
#app {
  height: 100%;
}
